[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = https://github.com/themefisher/airspace-hugo.git
[submodule "themes/vex-hugo"]
	path = themes/vex-hugo
	url = https://github.com/themefisher/vex-hugo.git
[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/lucperkins/hugo-fresh.git
[submodule "themes/hugo-agency-theme"]
	path = themes/hugo-agency-theme
	url = https://github.com/digitalcraftsman/hugo-agency-theme.git
[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "themes/Academic"]
	path = themes/Academic
	url = https://github.com/gcushen/hugo-academic.git
